#project {
    margin: auto;
    width: 90%;
    display: flex;
    flex-direction: column;
}

.buttonFilter {
    border-style: none;
    color: white;
    background-color: black;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 2px;
    font-family: 'Oswald', sans-serif;
    transition: transform 0.3s ease;
    border-bottom: solid 2px black;
}

.buttonFilter:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.filter {
    border-radius: 10px 10px;
    background-color: black;
    padding-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 30px;
}

.allProject {
    border-radius: 0px 0px 10px 10px;
    margin: auto;
    width: 80%;
    padding-top: 35px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    color: black;
    margin: auto;
}

.filterActive {
    border-style: none;
    color: white;
    background-color: black;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 2px;
    font-family: 'Oswald', sans-serif;
    transform: scale(1.1);
    border-bottom: 2px solid #6baefa;
    transition: 0.5s ease;
}

@media screen and (max-width: 991px) {
    #project {
        width: 100%;
    }
    .filter {
        border-radius: 0px;
        padding-bottom: 15px;
        margin-bottom: 0px;
    }

    .allProject {
        padding-bottom: 20px;
        padding-top: 0px;
        border-radius: 0px;
        background-color: black;
        width: 100%;
        flex-direction: column;
    }
}

@media screen and (max-width: 635px) {
    .allProject {
        border-radius: 0px;
    }
}
