@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&family=Poppins:wght@200;300;400;500&display=swap');
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: black;
    background-color: white;
    transition: color 0.5s ease, background-color 0.5s ease;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

.night {
    background-color: #282a2c;
    color: white;
}

.animateUp,
.animateUpnight {
    animation: slideFromUp 1.5s ease forwards;
}

@keyframes slideFromUp {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.animateLeft,
.animateLeftnight {
    animation: slideFromLeft 1.5s ease forwards;
}

@keyframes slideFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.animateRight,
.animateRightnight {
    animation: slideFromRight 1.5s ease forwards;
}

@keyframes slideFromRight {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.animate,
.animatenight {
    animation: appear 1s ease forwards;
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
