@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&family=Poppins:wght@200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&family=Poppins:wght@200;300;400;500&display=swap');
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: black;
    background-color: white;
    transition: color 0.5s ease, background-color 0.5s ease;
}

a {
    text-decoration: none;
    color: inherit;
}

.night {
    background-color: #282a2c;
    color: white;
}
