.bannerAll {
    display: flex;
    flex-direction: row;
    margin-top: 65px;
    height: 600px;
}

.bannerColor {
    background-image: url('../assets/floral.jpg');
    background-position: right;
    background-size: cover;
    padding-top: 100px;
    display: flex;
    justify-content: flex-end;
    width: 25%;
}
.banner {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    background-color: #000000;
    width: 75%;
}

.bannerContent {
    padding-bottom: 30px;
    padding-left: 20px;
}

.bannerLastName {
    font-family: 'Oswald', sans-serif;

    color: black;
    font-size: 100px;
    font-weight: 500;
    padding-right: 20px;
}

.bannerFirstName {
    font-family: 'Oswald', sans-serif;

    color: white;
    font-size: 100px;
    font-weight: 500;
}

.bannerP {
    color: white;
}

h1 {
    font-weight: 400;
    margin: 0px;
}

.bannerAbout {
    font-weight: 400;
    margin-bottom: 25px;
    margin-top: 35px;
    padding: 15px;
    background-color: black;
    color: white;
    font-size: 20px;
    width: 426px;
    opacity: 0;
    animation: fade-in 0.9s ease forwards;
    border: 1px black solid;
    border-color: transparent;
    transition: border-width 0.9s ease, border-color 0.9s ease;
}

.word {
    display: inline-block;
    opacity: 0;
    animation: word-fade-in 0.5s ease forwards;
}

.letter {
    display: inline-block;
    opacity: 0;
    animation: letter-fade-in 0.5s ease forwards;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes word-fade-in {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes letter-fade-in {
    from {
        opacity: 0;
        transform: translateY(5px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.show-border {
    border: 1px solid white;
}

.bannerLink {
    font-family: 'Oswald', sans-serif;
    margin-right: 15px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.9s ease;
    border: 1px solid white;
    font-size: 20px;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
    transition: 0.9s ease;
}

.bannerLink:hover {
    border: 1px solid #6baefa;
    color: black;
    background-color: #6baefa;
}

.show-link {
    opacity: 1;
}

@media screen and (max-width: 991px) {
    .bannerAll {
        flex-direction: column;
        margin-top: 50px;
        height: fit-content;
    }

    .bannerColor {
        background-image: url('../assets/floral1.jpg');
        background-position: bottom;
        background-size: cover;
        padding-right: 0px;
        padding-top: 30px;
        justify-content: flex-start;
        width: 100%;
    }

    .bannerLastName {
        padding-left: 20px;
        padding-right: 0px;
    }

    .banner {
        padding-bottom: 25px;
        padding-top: 0px;
        display: flex;
        flex-direction: column;
        background-color: #000000;
        width: 100%;
    }
}

@media screen and (max-width: 635px) {
    h1 {
        font-size: 20px;
        margin: 0px;
    }
    .bannerAll {
        margin-top: 20px;
    }

    .banner {
        padding-bottom: 10px;
    }

    .bannerLastName {
        padding-left: 20px;
        padding-right: 0px;
        font-size: 60px;
    }

    .bannerFirstName {
        font-size: 60px;
    }

    .bannerP {
        margin-top: 20px;
        text-align: center;
        font-size: 20px;
    }

    .bannerAbout {
        margin: auto;
        margin-top: 20px;
        width: 80%;
        font-size: 15px;
        margin-bottom: 20px;
    }

    .bannerContent {
        padding-bottom: 25px;
        height: fit-content;
        padding-right: 20px;
    }

    .bannerLink {
        margin-right: 12px;
        font-size: 15px;
    }

    .bannerLinks {
        display: flex;
        justify-content: center;
    }
}
