.bannerAll {
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 80px;
    align-items: center;
}

.All {
    display: flex;
    width: 100%;
}

.bannerColor {
    padding-top: 145px;
    padding-right: 20px;
    height: 455px;
    display: flex;
    justify-content: flex-end;
    width: 25%;
    background-color: #6baefa;
    border-radius: 0px 10px 10px 0px;
    opacity: 0;
    transform: translateX(100%);
    animation: slideIn 2s ease forwards;
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

.banner {
    margin-left: 20px;
    border-radius: 10px 0px 0px 10px;
    height: 600px;
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.bannerLastName {
    margin-top: -20px;
    font-family: 'Oswald', sans-serif;
    font-size: 95px;
    font-weight: 400;
}

.bannerFirstName {
    padding-left: 20px;
    margin-top: -20px;
    font-family: 'Oswald', sans-serif;
    font-size: 95px;
    font-weight: 400;
}

.bannerFirstName {
    margin-left: -4px;
}

h1 {
    padding-left: 20px;
    margin-top: 0px;
    width: fit-content;
    font-size: 25px;
    font-weight: 300;
}

.bannerLinks {
    padding-left: 20px;
    margin-top: 20px;
    display: flex;
}

.bannerLink {
    margin-right: 20px;
    border-radius: 5px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.9s ease;
    border: 2px solid white;
    font-size: 18px;
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    transition: 0.5s ease;
}

.bannerLink:hover {
    border: 2px solid #6baefa;
    color: black;
    background-color: #6baefa;
}

.bannerAbout {
    margin-left: 20px;
    font-weight: 300;
    font-size: 16px;
    width: 426px;
}

.show-link {
    opacity: 1;
}

@media screen and (max-width: 991px) {
    .bannerAll {
        padding-left: 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .bannerColor {
        justify-content: flex-start;
        border-radius: 10px 0px 0px 10px;
        align-self: baseline;
        margin-bottom: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-right: 0px;
        height: fit-content;
        width: 100%;
    }

    @keyframes slideIn {
        0% {
            opacity: 0;
            transform: translateX(100%);
        }
        100% {
            opacity: 1;
            transform: translateX(0%);
        }
    }

    .bannerFirstName {
        margin-top: -30;
        margin-bottom: -20px;
    }

    .bannerLastName {
        padding-left: 20px;
        margin-bottom: -20px;
        margin-top: -30px;
        text-align: start;
    }

    .banner {
        align-self: baseline;
        margin-left: 0px;
        padding-top: 10px;
        padding-bottom: 20px;
        height: fit-content;
    }

    h1 {
        margin-top: 10px;
    }
}

@media screen and (max-width: 635px) {
    .bannerAll {
        padding-left: 10px;
        margin-top: 56px;
    }

    .bannerColor {
        margin-bottom: 10px;
        border-radius: 5px 0px 0px 5px;
    }

    .bannerFirstName {
        font-size: 60px;
        margin-top: -30;
        margin-bottom: -20px;
        padding-left: 13px;
    }

    .bannerLastName {
        font-size: 60px;
        padding-left: 10px;
    }

    .banner {
        border-radius: 5px 0px 0px 5px;
        padding-top: 10px;
    }

    .bannerAbout {
        width: 209px;
        font-size: 13px;
        margin-left: 10px;
    }

    h1 {
        margin-top: 15px;
        font-size: 20px;
        padding-left: 10px;
    }

    .bannerLinks {
        padding-left: 10px;
    }

    .bannerLink {
        margin-right: 10px;
        font-size: 15px;
    }
}
