.bannerAll {
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 150px;
    align-items: center;
}

.bannerColor {
    padding-right: 20px;
    height: 600px;
    display: block;
    width: 23%;
    background-color: #6baefa;
    border-radius: 0px 10px 10px 0px;
}

.banner {
    margin-left: 50px;
    border-radius: 10px 0px 0px 10px;
    height: 600px;
    color: white;
    background-color: black;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: -moz-fit-content;
    width: 100%;
}

.bannerName {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.bannerLastName {
    text-align: end;
    font-family: 'Oswald', sans-serif;
    font-size: 95px;
    font-weight: 400;
}

.bannerFirstName {
    font-family: 'Oswald', sans-serif;
    font-size: 95px;
    font-weight: 400;
}

.bannerFirstName {
    margin-left: -4px;
}

h1 {
    width: fit-content;
    color: white;
    font-size: 25px;
    font-weight: 300;
    margin: auto;
}

.bannerPLinks {
    margin-top: 10px;
    padding: 25px;
    width: fit-content;
    border-radius: 10px;
    flex-direction: column;
    display: flex;
    background-color: black;
}

.bannerLinks {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.bannerLink {
    border-radius: 5px;
    text-align: center;
    width: 37%;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.9s ease;
    border: 2px solid white;
    font-size: 25px;
    padding: 15px 10px;
    text-decoration: none;
    color: white;
    transition: 0.5s ease;
}

.bannerLink:hover {
    border: 2px solid #6baefa;
    color: black;
    background-color: #6baefa;
}

.bannerAbout {
    font-weight: 300;
    padding-left: 10px;
    color: white;
    font-size: 25px;
    width: 426px;
    opacity: 0;
    animation: fade-in 0.9s ease forwards;
    border-left: 5px white solid;
    border-color: transparent;
    transition: border-width 0.5s ease, border-color 0.5s ease;
}

.bannerAboutSwitch {
    display: none;
    margin-left: 20px;
    font-weight: 300;
    padding-left: 10px;
    color: black;
    font-size: 25px;
    width: 426px;
    opacity: 0;
    animation: fade-in 0.9s ease forwards;
    border-left: 5px solid;
    border-color: transparent;
    transition: border-width 0.5s ease, border-color 0.5s ease;
}

.bannerSwitch {
    align-items: center;
    display: flex;
    flex-direction: row;
}

.show-border {
    border-left: 5px solid white;
}

.show-link {
    opacity: 1;
}

.word {
    display: inline-block;
    opacity: 0;
    animation: word-fade-in 0.5s ease forwards;
}

.letter {
    display: inline-block;
    opacity: 0;
    animation: letter-fade-in 0.5s ease forwards;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes word-fade-in {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes letter-fade-in {
    from {
        opacity: 0;
        transform: translateY(5px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* @media screen and (max-width: 1400px) {
    .bannerAboutSwitch {
        display: block;
    }
    .bannerAbout {
        display: none;
    }
} */

@media screen and (max-width: 991px) {
}

@media screen and (max-width: 635px) {
    .bannerAll {
        margin-top: 100px;
        width: 90%;
    }

    .banner {
        padding-left: 0;
        border-left: 0;
    }

    h1 {
        font-size: 15px;
    }

    .bannerLastName {
        margin-top: -22px;
        margin-bottom: -22px;
        font-size: 60px;
    }

    .bannerFirstName {
        font-size: 60px;
    }

    .bannerP {
        font-size: 20px;
    }

    .bannerAbout {
        font-size: 15px;
    }

    .bannerPLinks {
        border-radius: 5px;
        padding: 10px;
    }

    .bannerLinks {
        margin-top: 10px;
    }

    .bannerLink {
        padding: 5px;
        font-size: 15px;
    }
}
