.bannerAll {
    display: flex;
    flex-direction: row;
    margin-top: 65px;
    height: 650px;
}

.bannerColor {
    background-image: url('../assets/background.jpg');
    background-size: cover;
    padding-top: 100px;
    display: flex;
    justify-content: flex-end;
    width: 25%;
}
.banner {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    background-color: #000000;
    width: 75%;
}

.bannerContent {
    padding-bottom: 30px;
    padding-left: 20px;
}

.bannerLastName {
    color: black;
    font-size: 100px;
    font-weight: 500;
    padding-right: 20px;
}

.bannerFirstName {
    color: white;
    font-size: 100px;
    font-weight: 500;
}

.bannerP {
    color: white;
    font-size: 35px;
    font-weight: 500;
}

.bannerAbout {
    margin-bottom: 25px;
    margin-top: 35px;
    border: 1px solid white;
    padding: 15px;
    background-color: black;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 500;
    width: 510px;
}

.bannerLink {
    border: 1px solid white;
    font-size: 20px;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
    transition: 0.5s ease;
}

.bannerLink:hover {
    border: 1px solid #a3f5f9;
    color: black;
    background-color: #a3f5f9;
}

@media screen and (max-width: 991px) {
    .bannerAll {
        flex-direction: column;
        margin-top: 50px;
        height: fit-content;
    }

    .bannerColor {
        padding-right: 0px;
        padding-top: 50px;
        justify-content: flex-start;
        width: 100%;
    }

    .bannerLastName {
        padding-left: 20px;
        padding-right: 0px;
        font-size: 70px;
    }

    .banner {
        padding-top: 0px;
        display: flex;
        flex-direction: column;
        background-color: #000000;
        width: 100%;
    }

    .bannerFirstName {
        font-size: 70px;
    }

    .bannerP {
        font-size: 25px;
    }

    .bannerAbout {
        width: 340px;
    }
}

@media screen and (max-width: 635px) {
    .bannerAll {
        margin-top: 20px;
    }
    .bannerColor {
        padding-top: 40px;
    }

    .bannerLastName {
        padding-left: 20px;
        padding-right: 0px;
        font-size: 40px;
    }

    .bannerFirstName {
        font-size: 40px;
    }

    .bannerP {
        font-size: 15px;
    }

    .bannerAbout {
        margin-top: 10px;
        width: 80%;
        font-size: 15px;
        margin-bottom: 20px;
    }

    .bannerContent {
        height: fit-content;
        padding-right: 20px;
    }

    .bannerLink {
        font-size: 15px;
    }
}
