.contact {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contactP {
    width: 100%;
    background-color: #a3f5f9;
}

.contactForm {
    margin: auto;
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: black;
}

form {
    width: 500px;
}

.contactMail {
    margin-top: 20px;
}

input {
    height: 30px;
    border-radius: 5px;
    border: 2px solid;
    margin-bottom: 20px;
    width: 100%;
}

label {
    font-size: 20px;
    color: white;
}

textarea {
    height: 60px;
    border-radius: 5px;
    border: 2px solid;
    margin-bottom: 20px;
    width: 100%;
}

.contactMsg {
    display: flex;
    flex-direction: column;
}

.contactButton {
    cursor: pointer;
    font-family: 'Oswald';
    display: flex;
    margin: auto;
    padding: 5px;
    margin-bottom: 50px;
    border: 1px solid white;
    background-color: white;
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.contactButton:hover {
    border: 1px solid #a3f5f9;
    background-color: #a3f5f9;
    color: black;
}

@media screen and (max-width: 991px) {
    form {
        width: 400px;
    }
}

@media screen and (max-width: 635px) {
    form {
        margin: auto;
        width: fit-content;
    }
}
