.contact {
    border-top: 2px solid #2A2F3A;
    background-color: #08090c;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contactContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 550px;
}

.contactContentBorder {
    width: 100%;
    box-sizing: border-box;
    border-left: solid #08090c 4px;
    border-right: solid #08090c 4px;
}

.myEmailLink {
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    color: inherit;
    cursor: pointer;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
    align-items: center;
    background: #2A2F3A;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    width: 100%;
    transition: transform 0.3s ease;
}

.myEmailLink:hover {
    transform: translateY(-3px);
}

.linkName {
    margin: 15px;
}

.material-symbols-outlined {
    margin: 15px;
    font-size: 20px;
}

.contact h3 {
    box-sizing: border-box;
    width: 100%;
    font-size: 22px;
    margin-top: 40px;
    margin-bottom: 20px;
    font-weight: 400;
}


@media screen and (max-width: 991px) {

}

@media screen and (max-width: 635px) {
    .contactContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
    }

    .myEmailLink {
        font-size: 20px;
    }

    .linkName {
        margin: 15px;
    }

    .material-symbols-outlined {
        margin: 15px;
    }

    .material-symbols-outlined {
        font-size: 30px;
    }

    .contact h3 {
        margin-top: 35px;
        margin-bottom: 10px;
        font-size: 18px;
    }


}