.contact {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contactP {
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 20px 0px;
    width: 100%;
    background-color: #a3f5f9;
}

.contactForm {
    flex-direction: column;
    margin: auto;
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: black;
}

.contactForm h3 {
    font-size: 30px;
    margin: auto;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 15px;
    color: white;
}

.contactLinks {
    padding-top: 30px;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.linkedinLink {
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    width: 350px;
    margin-top: 20px;
    padding: 10px 10px;
    border-radius: 5px;
    background-color: #0084b1;
    color: white;
    transition: transform 0.3s ease;
}

.linkedinLink:hover {
    color: white;
    transform: scale(1.1);
}

.linkedinImg {
    width: 40px;
}

.myEmailLink {
    margin-top: 20px;
    color: white;
    padding: 10px 10px;
    border-radius: 5px;
    background: rgb(109, 6, 6);
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    width: 350px;
    transition: transform 0.3s ease;
}

.myEmailLink:hover {
    color: white;
    transform: scale(1.1);
}

.material-symbols-outlined {
    font-size: 40px;
}

.skypeLink {
    margin-top: 20px;
    color: white;
    padding: 10px 10px;
    border-radius: 5px;
    background: #00aff0;
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    width: 350px;
    transition: transform 0.3s ease;
}

.skypeLink:hover {
    color: white;
    transform: scale(1.1);
}

.skypeImg {
    width: 40px;
}

form {
    margin: auto;
    width: 500px;
}

input {
    height: 30px;
    border-radius: 5px;
    border: 0px;
    margin-bottom: 20px;
    width: 100%;
}

label {
    font-size: 20px;
    color: white;
}

textarea {
    resize: none;
    height: 60px;
    border-radius: 5px;
    border: 2px solid;
    margin-bottom: 20px;
    width: 100%;
}

.contactMsg {
    display: flex;
    flex-direction: column;
}

.contactButton {
    cursor: pointer;
    font-family: 'Oswald';
    display: flex;
    margin: auto;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid white;
    background-color: black;
    font-size: 20px;
    text-decoration: none;
    color: white;
    transition: 0.5s ease;
}

.contactButton:hover {
    border: 1px solid #a3f5f9;
    background-color: #a3f5f9;
    color: black;
}

.myEmail {
    width: 100%;
    background-color: black;
}

@media screen and (max-width: 991px) {
    form {
        width: 420px;
    }

    .contactForm p {
        font-size: 30px;
    }
}

@media screen and (max-width: 635px) {
    form {
        width: 70%;
    }

    .contactP {
        font-size: 20px;
    }

    .contactForm h3 {
        font-size: 20px;
    }

    .contactButton {
        font-size: 15px;
    }

    .linkedinLink,
    .myEmailLink,
    .skypeLink {
        margin-top: 10px;
        width: 250px;
        font-size: 15px;
    }

    .skypeImg,
    .linkedinImg {
        width: 21px;
    }
    .material-symbols-outlined {
        font-size: 21px;
    }

    label {
        font-size: 15px;
    }
}
