.contact {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contactP {
    font-weight: 400;
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 20px 0px;
    width: 100%;
    background-color: #6baefa;
}

.contactForm {
    flex-direction: column;
    margin: auto;
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: black;
}

.contactForm h3 {
    font-size: 30px;
    margin: auto;
    font-weight: 400;
    margin-top: 50px;
    margin-bottom: 20px;
    color: white;
}

.contactLinks {
    padding-top: 30px;
    width: 100%;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.linkedinLink {
    align-items: center;
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    width: 35%;
    margin: 20px;
    padding: 15px 15px;
    border-radius: 5px;
    background-color: #0084b1;
    color: white;
    transition: transform 0.3s ease;
}

.linkedinLink:hover {
    color: white;
    transform: scale(1.05);
}

.linkedinImg {
    width: 40px;
}

.myEmailLink {
    align-items: center;
    margin: 20px;
    color: white;
    padding: 15px 15px;
    border-radius: 5px;
    background: rgb(109, 6, 6);
    display: flex;
    justify-content: space-between;
    font-size: 19px;
    width: 35%;
    transition: transform 0.3s ease;
}

.myEmailLink:hover {
    color: white;
    transform: scale(1.05);
}

.material-symbols-outlined {
    font-size: 40px;
}

.skypeLink {
    align-items: center;
    margin: 20px;
    color: white;
    padding: 15px 15px;
    border-radius: 5px;
    background: #00aff0;
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    width: 35%;
    transition: transform 0.3s ease;
}

.skypeLink:hover {
    color: white;
    transform: scale(1.05);
}

.skypeImg {
    width: 40px;
}

.githubLinkContact {
    align-items: center;
    margin: 20px;
    color: white;
    padding: 14px 14px;
    border: solid 1px white;
    border-radius: 5px;
    background: #1b1f23;
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    width: 35%;
    transition: transform 0.3s ease;
}

.githubLinkContact:hover {
    color: white;
    transform: scale(1.05);
}

.githubImgContact {
    width: 40px;
}

form {
    margin: auto;
    width: 535px;
}

input {
    font-size: 15px;
    font-family: 'Poppins';
    height: 40px;
    border-radius: 5px;
    border: 0px;
    margin-bottom: 20px;
    width: 100%;
}

label {
    font-size: 20px;
    color: white;
}

textarea {
    font-size: 15px;
    font-family: 'Poppins';
    resize: none;
    height: 110px;
    border-radius: 5px;
    border: 2px solid;
    margin-bottom: 20px;
    width: 100%;
}

.contactMail {
    width: 100%;
}

.contactMsg {
    display: flex;
    flex-direction: column;
}

.contactButton {
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Oswald';
    display: flex;
    margin: auto;
    padding: 5px 10px;
    margin-bottom: 20px;
    border: 1px solid white;
    background-color: black;
    font-size: 20px;
    font-weight: 300;
    text-decoration: none;
    color: white;
    transition: 0.5s ease;
}

.contactButton:hover {
    border: 1px solid #6baefa;
    background-color: #6baefa;
    color: black;
}

.myEmail {
    width: 100%;
    background-color: black;
}

@media screen and (max-width: 991px) {
    .contactForm p {
        font-size: 30px;
    }

    .linkedinLink,
    .myEmailLink,
    .skypeLink,
    .githubLinkContact {
        width: 505px;
        margin: 10px;
    }
}

@media screen and (max-width: 635px) {
    form {
        width: 80%;
    }

    .contactP {
        font-size: 20px;
    }

    .contactForm h3 {
        text-align: center;
        width: 80%;
        margin-top: 30px;
        font-size: 16px;
    }

    .contactButton {
        font-size: 15px;
    }

    .contactLinks {
        padding-top: 10px;
    }

    .linkedinLink,
    .myEmailLink,
    .skypeLink,
    .githubLinkContact {
        margin-top: 10px;
        width: 75%;
        font-size: 14px;
    }

    .skypeImg,
    .linkedinImg,
    .githubImgContact {
        width: 29px;
    }
    .material-symbols-outlined {
        font-size: 26px;
    }

    label {
        font-size: 15px;
    }
}
