#error-main {
    margin: 0px auto 0px auto;
    justify-content: center;
    align-items: center;
    width: 80%;
    display: flex;
    flex-direction: column;
}

.error-404 {
    margin-top: 66px;
    margin-bottom: 10px;
    height: auto;
    font-size: 288px;
}

p {
    text-align: center;
    font-weight: 500;
    font-size: 36px;
    align-items: center;
}

.nav-error {
    width: 50%;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.error-link {
    text-align: center;
    font-size: 24px;
    color: black;
    font-weight: 500;
    margin-top: 70px;
    margin-bottom: 30px;
    text-decoration: none;
    border-bottom: solid 2px white;
    transition: transform 0.3s ease;

}

.error-link:hover {
    border-bottom: solid 2px #a3f5f9;
    transform: scale(1.1);

}

@media screen and (max-width: 991px) {
    .error-404 {
        margin-top: 150px;
        font-size: 96px;
    }

    p {
        text-align: center;
        font-size: 18px;
    }
    .nav-error {
        width: 100%;
    }

    .error-link {
        margin-top: 110px;
    }
}
