.footer {
    padding: 20px;
    text-align: center;
    background-color: black;
}

.pFooter {
    margin: auto;
    padding-top: 30px;
    padding-bottom: 10px;
    width: 320px;
    color: white;
    font-size: 14px;
}

.linkFooter {
    padding-left: 4px;
    color: #6baefa;
}

.linkFooter:hover {
    color: #6baefa;
}

@media screen and (max-width: 991px) {
    .pfooter {
        font-size: 12px;
    }
}
