.footer {
    padding: 20px;
    text-align: center;
    background-color: black;
}

.pFooter {
    font-weight: 300;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 10px;
    width: 355px;
    color: white;
    font-size: 18px;
}

.linkFooter {
    padding-left: 4px;
    color: #aaacbe;
}

.linkFooter:hover {
    color: #aaacbe;
}

@media screen and (max-width: 635px) {
    .pFooter {
        width: 280px;
        font-size: 14px;
    }
}
