.footer {
    padding: 20px;
    text-align: center;
    background-color: black;
}

.pFooter {
    font-weight: 300;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 10px;
    width: 280px;
    color: white;
    font-size: 13px;
}

.linkFooter {
    padding-left: 4px;
    color: #6baefa;
}

.linkFooter:hover {
    color: #6baefa;
}
