.header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    font-weight: 500;
    margin: auto;
    width: 100%;
    color: black;
    background-color: white;
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border-bottom: 1px solid black;
    padding: 15px 0px;
}

.profil {
    padding-left: 20px;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.linkedin {
    animation: fade-in 2s ease forwards;

    margin-top: 3px;
    width: 45px;
    height: 45px;
    background-color: white;
    transition: transform 0.3s ease;
}

.linkedin:hover {
    transform: scale(1.1);
}

.github {
    animation: fade-in 2s ease forwards;

    cursor: pointer;
    padding-left: 13px;
    width: 52px;
    transition: transform 0.3s ease;
}

.github:hover {
    transform: scale(1.1);
}

.backHomeImg {
    animation: fade-in 2s ease forwards;
    margin: -18px 0px 0px -22px;
    position: absolute;
    left: 50%;
    width: 45px;
    transition: transform 0.5s ease;
}

.backHomeImg:hover {
    transform: scale(1.1);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
}

.link {
    margin: 0px 20px;
    font-size: 20px;
    text-decoration: none;
    color: black;
    animation: fade-in 2s ease forwards;
    transition: transform 0.5s ease;
    border-bottom: white 2px solid;
}

.link:hover {
    border-bottom: solid 2px #a3f5f9;
    transform: scale(1.1);
}

.vectorUp {
    animation: fade-in 2s ease forwards;
    width: 40px;
}

.topPage {
    display: none;
    opacity: 0;
    transition: opacity ease;
    padding: 0px 20px;
    text-decoration: none;
    color: black;
    transition: transform 0.9s ease;
}

.topPage.show {
    display: flex;
    opacity: 1;
    transition: opacity 0.5s ease;
    transition: transform 0.3s ease;
}

.topPage.show:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 991px) {
    .profil {
        display: flex;
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: black;
    }
}

@media screen and (max-width: 635px) {
    .header {
        padding: 5px 0px;
    }
    .linkedin {
        margin-top: 3px;
        width: 35px;
        height: 35px;
        transition: transform 0.3s ease;
    }

    .github {
        cursor: pointer;
        padding-left: 13px;
        width: 41px;
        transition: transform 0.3s ease;
    }

    .backHomeImg {
        margin: -14px 0px 0px -17px;
        width: 34px;
    }

    .link {
        padding: 0px 10px;
    }

    .vectorUp {
        width: 30px;
    }
    .link {
        font-size: 14px;
    }
}
