.header {
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    overflow: hidden;
    font-weight: 500;
    width: 100%;
    background-color: white;
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 15px 0px;
    transition: box-shadow 0.5s ease, color 0.5s ease,
        background-color 0.5s ease;
}

.header.show {
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
}

.night {
    background-color: #282a2c;
    color: white;
}

.home {
    margin: -20px 0px 0px -21px;
    position: absolute;
    left: 50%;
    font-size: 40px;
    opacity: 0;
    animation: fade-in 1.5s ease forwards;
    transition: transform 0.4s ease;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.home:hover {
    transform: scale(1.1);
}

.arrow {
    font-size: 70px;
}

.topPage {
    opacity: 0;
    transition: transform 0.4s ease;
    cursor: pointer;
    transform: translateY(-100%);
    margin: 0px 20px;
    text-decoration: none;
}

.topPage.hide {
    transform: translateY(-120%);
    opacity: 1;
}

.topPage.show {
    transform: translateY(0);
    display: flex;
    opacity: 1;
}

.topPage.show:hover {
    transform: scale(1.1);
}

.translateBtn {
    border: 1px solid;
    border-radius: 20px;
    padding: 5px 10px;
    margin-right: 40px;
}

.translateIcon {
    font-size: 15px;
}

.headerRight {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nightShift {
    color: black;
    margin-top: 10px;
    width: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 80px;
    transition: color 0.5s ease;
}
.nightShift.night {
    color: white;
}

.nightShiftBtn {
    padding-left: 1.5px;
    cursor: pointer;
    border-radius: 12px;
    height: 20px;
    width: 36px;
    border: solid black 2px;
    background-color: white;
    transition: transform 0.5s ease;
}

.nightShiftVector.on {
    transform: translateX(110%);
}

.nightShiftVector {
    margin-left: 0;
    transition: transform 0.5s ease;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background-color: black;
}

.darkMode {
    font-size: 22px;
}

.menuBurger {
    overflow: hidden;
    z-index: 2;
    margin-right: 40px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.line {
    border-radius: 2px;
    transition: transform 0.3s ease, background-color 0.5s ease;
    background-color: black;
    width: 30px;
    height: 3px;
    margin: 3px 0;
}

.night .line {
    background-color: white;
}

.open .line1 {
    transform: rotate(-45deg) translate(-5px, 7px);
}

.open .line2 {
    opacity: 0;
}

.open .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}

.overlayBurger {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: block;
}

.burgerMenu {
    overflow-y: auto;
    font-weight: 400;
    max-height: calc(100vh - 50px);
    width: 300px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    background: white;
    position: fixed;
    top: 0px;
    right: 0px;
    padding-top: 80px;
    transform: translateX(100%);
    align-items: center;
}

.burgerMenu.night {
    background-color: #282a2c;
}

@keyframes slideInMenu {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}

.burgerMenu.open {
    opacity: 1;
    animation: slideInMenu 0.5s ease forwards;
    transform: translateX(0);
}

.link {
    color: black;
    background-color: white;
    text-align: center;
    width: 170px;
    display: flex;
    margin: 10px 0px;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    justify-content: center;
    transition: color 0.5s ease;
}

.link.night {
    color: white;
}

.burgerMenu .link:hover {
    color: #aaacbe;
}

.disable-scroll {
    overflow: hidden;
}

@media screen and (max-width: 635px) {
    .header {
        height: 46px;
        padding: 5px 0px;
    }

    .menuBurger .line {
        border-radius: 2px;
        width: 27px;
        height: 3px;
        margin: 2px 0;
    }

    .menuBurger.open .line1 {
        transform: rotate(-45deg) translate(-3px, 7px);
    }
    .menuBurger.open .line3 {
        transform: rotate(45deg) translate(-3px, -7px);
    }

    .home {
        margin: -18px 0px 0px -18px;
        font-size: 35px;
    }

    .arrow {
        font-size: 50px;
    }

    .topPage {
        margin: 0px 5px;
    }

    .menuBurger {
        margin-right: 20px;
    }

    .burgerMenu {
        padding-top: 60px;
    }
}
