.header {
    height: 50px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    font-weight: 500;
    width: 100%;
    color: black;
    background-color: white;
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 15px 0px;
}

.backHomeImg {
    animation: fade-in 2s ease forwards;
    margin: -18px 0px 0px -22px;
    position: absolute;
    left: 50%;
    width: 45px;
    transition: transform 0.5s ease;
}

.backHomeImg:hover {
    transform: scale(1.1);
}

nav {
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
}

.link {
    cursor: pointer;
    margin-right: 50px;
    font-size: 20px;
    text-decoration: none;
    color: black;
    animation: fade-in 2s ease forwards;
    transition: transform 0.5s ease;
    border-bottom: white 2px solid;
}

.link:hover {
    border-bottom: solid 2px #a3f5f9;
    transform: scale(1.1);
}

.vectorUp {
    width: 40px;
}

.topPage {
    transition: transform 0.5s ease;

    opacity: 0;
    margin: 0px 50px;
    text-decoration: none;
    color: black;
}

.topPage.show {
    animation: fade-in 2s ease forwards;
    display: flex;
    opacity: 1;
}

.topPage.show:hover {
    transform: scale(1.1);
}

.menuBurger {
    animation: fade-in 2s ease forwards;
    z-index: 1;
    padding-right: 20px;
    cursor: pointer;
    display: none;
}

.menuBurger .line {
    border-radius: 2px;
    transition: transform 0.3s ease;
    width: 30px;
    height: 3px;
    background-color: #333;
    margin: 3px 0;
}

.overlayBurger {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

@media screen and (max-width: 635px) {
    .header {
        height: 46px;
        padding: 5px 0px;
    }

    .backHomeImg {
        margin: -14px 0px 0px -17px;
        width: 34px;
    }

    .link {
        margin: 0px 10px 0px 0px;
        padding: 0px 0px;
    }

    .vectorUp {
        width: 30px;
    }

    .topPage {
        margin: 0px 20px;
    }
    .link {
        font-size: 14px;
    }

    nav {
        display: none;
    }

    .menuBurger {
        display: flex;
        flex-direction: column;
        background-color: white;
    }

    .burgerMenu {
        font-weight: 400;
        height: 400px;
        width: 100%;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
        display: flex;
        flex-direction: column;
        background-color: white;
        position: absolute;
        top: 0px;
        right: 0px;
        padding: 50px 0px;
        align-items: flex-start;
    }

    .burgerMenu .link {
        animation: fade-in 0s ease;
        z-index: 3;
        margin-left: 10px;
        font-size: 30px;
        margin-bottom: 10px;
        color: #333;
        text-decoration: none;
        border-bottom: none;
        cursor: pointer;
    }

    .menuBurger.open .line1 {
        transform: rotate(-45deg) translate(-4px, 8px);
    }

    .menuBurger.open .line2 {
        opacity: 0;
    }

    .menuBurger.open .line3 {
        transform: rotate(45deg) translate(-4px, -8px);
    }

    .overlayBurger {
        display: block;
    }
}
