.page-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
}

h2 {
    font-weight: 400;
}

h4,
h3 {
    font-weight: 300;
}

#topPageLink {
    position: absolute;
    top: 0;
}

.aboutAll {
    margin: auto;
    width: 65%;
}

.about {
    margin-left: 0;
    border-radius: 10px;
    margin-top: 70px;
    display: flex;
    width: 462px;
    flex-direction: column;
}

.about.night {
    background-color: #383e42;
}
.about h3 {
    width: 90%;
    margin-bottom: 0;
    text-align: end;
}

.titleAbout {
    font-size: 30px;
    width: 100%;
}

.pAbout {
    padding-left: 10px;
    border-left: 3px solid;
    text-align: left;
    width: 85%;
}

.sectionTitle {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 20px;
    margin: auto;
    margin-top: 80px;
}
.styleTitle {
    border-radius: 2px;
    margin-top: 0px;
    margin-right: 5px;
    width: 35px;
    height: 22px;
    background-color: black;
}

.parcours h4 {
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 12px;
}

.parcours {
    font-weight: 300;
    padding: 40px 0 40px 0;
    background-color: #000;
    border-radius: 10px;
    margin: auto;
    width: 90%;
    display: flex;
    flex-direction: column;
}

.parcoursContent {
    width: 90%;
    margin: auto;
    margin-bottom: 40px;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    transition: 0.5s ease;
}

.parcours h3 {
    font-size: 20px;
    font-weight: 300;
    margin: 0px;
    border-top: 3px solid #758cde55;
    width: fit-content;
}

.parcoursP {
    width: 45%;
}

.parcoursP p {
    margin: 0;
}

.parcoursImg {
    border-radius: 10px;
    width: 100%;
}
.parcoursImg:hover {
    transform: scale(1.02);
}
.overlayParcours h4 {
    transition: transform 0.5s ease;
    transform: translateY(-80%);
    margin: 0;
    font-size: 18px;
}

.overlayParcours p {
    transition: transform 0.5s ease;
    transform: translateY(-80%);
    margin: 0;
    font-size: 12px;
}
.overlayParcours {
    opacity: 0;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: opacity 0.5s ease;
}
.overlayParcours:hover {
    opacity: 1;
}

.overlayParcours:hover p,
.overlayParcours:hover h4 {
    transform: translateY(0%);
}

.parcoursLink {
    display: flex;
    position: relative;
    transition: transform 0.3s ease;
    width: 45%;
}
.parcoursLink:hover {
    transform: scale(1.01);
}

.cv {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.buttonCv {
    font-family: 'Oswald', sans-serif;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid #fff;
    font-size: 20px;
    padding: 5px 10px;
    text-decoration: none;
    color: #fff;
    transition: 0.5s ease;
    background-color: #000;
}
.buttonCv:hover {
    border: #758cde55 solid 2px;
    color: #000;
    background-color: #758cde55;
}

#competences {
    width: 90%;
    align-items: flex-start;
    border-radius: 20px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    margin: auto;
}

.competence {
    border-radius: 10px;
    background-color: #758cde55;
    width: 25%;
}

.competenceContent {
    height: 335px;
    width: 100%;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.competenceTop {
    margin-bottom: 10px;
}

.competenceImg {
    width: 100px;
    height: 100px;
}

#competences h3 {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 10px;
}

#competences ul {
    margin: 0px;
    margin-top: 10px;
    padding: 0px;
}

#competences li {
    margin: auto;
    margin-bottom: 5px;
    background-color: #000;
    color: white;
    width: fit-content;
    padding: 5px 10px;
    border-radius: 20px;
    list-style: none;
    font-size: 14px;
}
.competenceStyle {
    position: relative;
    overflow: hidden;
    height: 60px;
    display: flex;
}

.vectorContainer {
    width: 5px;
    overflow: hidden;
    height: 100%;
}

.competenceVector {
    opacity: 1;
    position: absolute;
    top: 1px;
    background-color: #000;
    border-radius: 2px;
    width: 5px;
    height: 20px;
    display: flex;
    transform: translateY(-50%);
}

.competenceVector.trailUp {
    animation: trailup 1s linear infinite alternate;
}

.competenceVector.trailDown {
    animation: traildown 1s linear infinite alternate;
}

@keyframes trailup {
    from {
        top: -70%;
    }
    to {
        top: 170%;
    }
}

@keyframes traildown {
    from {
        top: 170%;
    }
    to {
        top: -70%;
    }
}

.servicesContent {
    margin: auto;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width: 991px) {
    .aboutAll {
        width: 75%;
    }
    .parcoursContent {
        width: 100%;
        flex-direction: column;
    }
    .parcours {
        margin-bottom: 20px;
    }
    .parcoursP {
        width: 90%;
    }
    .parcoursLink {
        margin-top: 20px;
        width: 90%;
    }
    #competences {
        justify-content: center;
        flex-wrap: wrap;
    }
    .competence {
        margin: 0 10px 20px;
        width: 40%;
    }

    .servicesContent {
        flex-direction: column;
        align-items: center;
    }
}
@media screen and (max-width: 635px) {
    .aboutAll {
        width: 90%;
    }

    .about {
        width: 100%;
        margin-top: 50px;
    }
    .contentAbout {
        margin: auto;
        width: 100%;
    }

    .about h3 {
        margin: auto;
        margin-top: 20px;
    }

    .titleAbout {
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 90%;
        font-size: 22.5px;
        padding-left: 0;
    }

    .pAbout {
        font-size: 14px;
        width: 90%;
        margin: auto;
        border-left: none;
        padding: 0px;
    }

    .sectionTitle {
        margin-top: 50px;
        font-size: 15px;
    }
    .parcours {
        border-radius: 5px;
    }

    .parcoursLink {
        border-radius: 5px;
    }

    .parcours p {
        font-size: 14px;
    }

    .parcours h3 {
        font-size: 18px;
    }

    .parcoursImg {
        border-radius: 5px;
    }
    .overlayParcours {
        border-radius: 5px;
    }

    .overlayParcours h4 {
        font-size: 15px;
    }
    .overlayParcours p {
        font-size: 10px;
    }

    .buttonCv {
        font-size: 15px;
    }
    #competences {
        flex-direction: column;
    }
    .competence {
        margin: 0;
        margin-bottom: 20px;
        border-radius: 5px;
        width: 100%;
    }
    .competenceContent {
        height: fit-content;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        display: flex;
        margin: auto;
        width: 80%;
    }

    .competenceVector.trailUp {
        animation: trailup 1.5s linear infinite alternate;
    }

    .competenceVector.trailDown {
        animation: traildown 1.5s linear infinite alternate;
    }

    .competenceStyle {
        margin: 0px 10px;
        height: 5px;
        width: 100%;
    }

    .vectorContainer {
        width: 100%;
        overflow: hidden;
        height: 5px;
    }

    .competenceVector {
        width: 20px;
        height: 5px;
        transform: translateX(-20%);
    }

    @keyframes trailup {
        from {
            left: -50%;
        }
        to {
            left: 150%;
        }
    }

    @keyframes traildown {
        from {
            left: 150%;
        }
        to {
            left: -50%;
        }
    }
}
