.page-container {
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 90%;
}

.sectionTitle {
    margin: auto;
    align-items: center;
}

.frontendImg,
.backendImg,
.outilImg {
    width: 100px;
    height: 100px;
}

#about {
    border-radius: 20px;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    width: 100%;
    color: black;
    margin: auto;
    background-color: rgb(147, 147, 147);
}

#competence {
    padding-top: 30px;
    border-radius: 20px;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    width: 100%;
    color: black;
    margin: auto;
    background-color: rgb(147, 147, 147);
}

.frontend,
.backend,
.outil {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
}

#project {
    padding-top: 30px;
    border-radius: 20px;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    color: black;
    margin: auto;
    background-color: rgb(147, 147, 147);
}

.exempleImg {
    width: 45%;
    margin-bottom: 30px;
}
