.page-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
}

h2 {
    font-weight: 400;
}

h4,
h3 {
    font-weight: 300;
}

#topPageLink {
    position: absolute;
    top: 0;
}

.aboutAll {
    margin: auto;
    width: 65%;
}

.about {
    margin-left: 0;
    border-radius: 10px;
    margin-top: 70px;
    display: flex;
    width: 462px;
    flex-direction: column;
}

.about.night {
    background-color: #383e42;
}
.about h3 {
    width: 90%;
    margin-bottom: 0;
    text-align: end;
}

.titleAbout {
    font-size: 30px;
    width: 100%;
}

.pAbout {
    padding-left: 10px;
    border-left: 3px solid;
    text-align: left;
    width: 85%;
}

.sectionTitle {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 20px;
    margin: auto;
    margin-top: 80px;
}
.styleTitle {
    border-radius: 2px;
    margin-top: 0px;
    margin-right: 5px;
    width: 35px;
    height: 22px;
    background-color: black;
}

.parcours h4 {
    margin-top: 0px;
    font-size: 13px;
}

.parcours {
    font-weight: 300;
    padding: 40px 0 40px 0;
    background-color: #000;
    border-radius: 10px;
    margin: auto;
    width: 90%;
    display: flex;
    flex-direction: column;
}
.adrarP,
.openClassP {
    width: 45%;
}
.openClassImg,
.adrarImg {
    border-radius: 10px;
    width: 100%;
}
.openClassImg:hover,
.adrarImg:hover {
    transform: scale(1.02);
}
.overlayParcours h4 {
    border-top: none;
    margin: 0;
    font-size: 20px;
}

.overlayParcours p {
    margin-top: 0;
    font-size: 15px;
}
.overlayParcours {
    opacity: 0;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    height: 100%;
    width: 100%;
    position: absolute;
    font-size: 20px;
    transition: opacity 0.5s ease;
}
.overlayParcours:hover {
    opacity: 1;
}

.parcoursLink {
    position: relative;
    transition: transform 0.3s ease;
    width: 45%;
}
.parcoursLink:hover {
    transform: scale(1.01);
}
.openClass,
.adrar {
    padding: 20px;
    border: 2px solid black;
    width: 90%;
    margin: auto;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    transition: 0.5s ease;
}

.openClass h3 {
    font-weight: 300;
    padding-top: 2px;
    margin: 0px;
    border-top: 3px solid #4e65c5;
    width: fit-content;
}

.adrar h3 {
    font-weight: 300;
    margin: 0px;
    padding-top: 2px;
    border-top: 3px solid #4e65c5;
    width: fit-content;
}

.cv {
    padding: 15px 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.buttonCv {
    font-family: 'Oswald', sans-serif;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
    border: 2px solid #fff;
    font-size: 20px;
    padding: 5px 10px;
    text-decoration: none;
    color: #fff;
    transition: 0.5s ease;
    background-color: #000;
}
.buttonCv:hover {
    border: #4e65c5 solid 2px;
    color: #000;
    background-color: #4e65c5;
}
.frontendImg,
.backendImg,
.outilImg {
    width: 100px;
    height: 100px;
}
#competence {
    width: 90%;
    align-items: center;
    border-radius: 20px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    margin: auto;
}

/* .frontendBack {
    background-color: #4e65c5;
} */
ul,
ol {
    margin: 0;
    padding-left: 10px;
    list-style: none;
    border-left: 3px solid;
}
.frontend,
.backend,
.outil {
    font-weight: 300;
    height: 250px;
    border-radius: 10px;
    padding: 30px 0;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    background-color: #e8eefe6a;
    transition: 0.5s ease;
}

.servicesContent {
    margin: auto;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width: 991px) {
    .aboutAll {
        width: 75%;
    }
    .openClass,
    .adrar {
        padding: 0 0 20px 0;
        width: 80%;
        flex-direction: column;
    }
    .adrar {
        margin-bottom: 20px;
    }
    .openClassP,
    .adrarP {
        width: 90%;
    }
    .parcoursLink {
        width: 90%;
    }
    #competence {
        justify-content: center;
        flex-wrap: wrap;
    }
    .frontend,
    .backend,
    .outil {
        width: 40%;
    }
    .frontend {
        margin-right: 10px;
        margin-bottom: 20px;
    }
    .backend {
        margin-left: 10px;
        margin-bottom: 20px;
    }

    .servicesContent {
        flex-direction: column;
        align-items: center;
    }
}
@media screen and (max-width: 635px) {
    .aboutAll {
        width: 90%;
    }

    .about {
        width: 100%;
        margin-top: 50px;
    }
    .contentAbout {
        margin: auto;
        width: 100%;
    }

    .about h3 {
        margin: auto;
        margin-top: 20px;
    }

    .titleAbout {
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 90%;
        font-size: 22.5px;
        padding-left: 0;
    }

    .pAbout {
        font-size: 14px;
        width: 90%;
        margin: auto;
        border-left: none;
        padding: 0px;
    }

    .sectionTitle {
        margin-top: 50px;
        font-size: 15px;
    }
    .parcours {
        border-radius: 5px;
    }

    .parcoursLink {
        border-radius: 5px;
    }
    .openClass,
    .adrar {
        width: 90%;
    }

    .openClassP,
    .adrarP p {
        font-size: 14px;
    }

    .openClassImg,
    .adrarImg {
        border-radius: 5px;
    }
    .overlayParcours {
        border-radius: 5px;
    }

    .overlayParcours h4 {
        font-size: 15px;
    }
    .overlayParcours p {
        font-size: 10px;
    }

    .buttonCv {
        font-size: 15px;
    }
    #competence {
        flex-direction: column;
    }
    .competenceMedia {
        margin: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
    }
    .frontend,
    .backend,
    .outil {
        flex-direction: row;
        justify-content: space-around;
        height: fit-content;
        padding: 30px 0 30px 0;
        width: 100%;
        border-radius: 5px;
    }
    .frontend {
        margin-right: 0;
    }
    .backend {
        margin-left: 0;
    }
}
