.pageProject {
    margin: auto;
    margin-top: 65px;
    width: 100%;
}

#topPageLink {
    position: absolute;
    top: 0;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: black;
}

.pageProjectTitle {
    font-family: 'Oswald', sans-serif;
    padding: 0px 30px;
    background-image: url('https://i.ibb.co/QY00nj3/floral1.webp');
    background-size: 140%;
    background-position: bottom;
    display: flex;
    color: black;
    justify-content: center;
}

.pageH1 {
    padding: 30px 0px;
    font-weight: 500;
    font-size: 70px;
}

.pageProjectButton {
    background-color: black;
    padding: 20px 0px;
}

.pageButton {
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Oswald';
    display: flex;
    margin: auto;
    padding: 5px 10px;
    border: 1px solid white;
    background-color: black;
    font-size: 20px;
    text-decoration: none;
    color: white;
    transition: 0.5s ease;
}

.pageButton:hover {
    border: 1px solid #6baefa;
    background-color: #6baefa;
    color: black;
}

.pageInfo {
    font-size: 18px;
    margin: auto;
    margin-top: 50px;
    width: 90%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

.pageInfo p {
    width: 45%;
    border-left: 5px solid black;
    padding-left: 10px;
}

.pageImg {
    border-radius: 10px;
    border: 2px solid black;
    width: 45%;
}

.sectionTitle {
    width: 90%;
}

.lienInfo {
    font-weight: 500;
    margin: 0px 3px;
    color: black;
}

.projetAbout {
    background-color: #6baefa27;
    padding: 20px;
    border-radius: 10px;
    color: black;
    margin: auto;
    margin-top: 70px;
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.projetAbout ul {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    border: none;
}

.projetTitleAbout {
    padding-left: 5px;
    width: fit-content;
    border-left: 5px solid #6baefa;
    margin-bottom: -10px;
    display: flex;
}

.pProjetAbout {
    padding-left: 0px;
}

.projetAbout li {
    background-color: white;
    margin-bottom: 5px;
    margin-right: 10px;
    text-decoration: none;
    width: fit-content;
    padding: 5px 10px;
    border-radius: 20px;
    border: solid 2px black;
}

@media screen and (max-width: 991px) {
    .pageInfo {
        font-size: 15px;
        width: 90%;
        justify-content: space-between;
    }

    .pProjetAbout {
        width: 100%;
    }
}

@media screen and (max-width: 635px) {
    .pageProject {
        margin-top: 50px;
    }

    .pageProjectTitle {
        padding: 0px 20px;
    }

    .pageH1 {
        padding: 20px 0px;
        font-size: 40px;
    }

    .pageButton {
        font-size: 15px;
    }
    .pageInfo {
        flex-direction: column;
        width: 80%;
    }
    .pageInfo p {
        width: 95%;
    }

    .pageImg {
        width: 100%;
    }

    .projetTitleAbout,
    .pProjetAbout {
        font-size: 15px;
    }

    .projetAbout li {
        font-size: 15px;
    }

    .projetAbout {
        width: 80%;
    }
}
