.projectContent {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 48%;
    margin-bottom: 30px;
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 0;
}

.show-projects .projectContent {
    opacity: 1;
}
.overlay h3 {
    font-weight: 400;
    margin: 0px;
}

.overlay {
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    color: white;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    position: absolute;
    font-size: 20px;
}

.overlay:hover {
    animation: fade-in 1s ease forwards;
    opacity: 1;
}

.overlayTitle {
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(0, 0, 0, 0.7) 100%
    );
    border-radius: 10px;
    display: flex;
    align-items: flex-end;
    color: white;
    height: 100%;
    width: 100%;
    position: absolute;
    font-size: 20px;
    transition: transform 0.3s ease;
}

.projectTitle {
    padding-left: 10px;
    padding-bottom: 5px;
}

.projectLink {
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    width: 100%;
    display: flex;
    position: relative;
    transition: transform 0.3s ease;
}

.projectImg {
    border-radius: 10px;
    width: 100%;
}

.projectLink:hover {
    transform: scale(1.02);
}

.projectDisplay {
    display: flex;
    width: 100%;
}

@media screen and (max-width: 991px) {
    .projectContent {
        width: 100%;
        margin-bottom: 0px;
        border-radius: 0px;
    }

    .projectLink {
        margin: 20px 40px;
    }

    .overlayTitle {
        font-size: 25px;
    }
}

@media screen and (max-width: 635px) {
    .overlayTitle {
        font-size: 20px;
        padding-right: 10px;
    }
}
