.reseaux {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reseauxP {
    width: 90%;
    text-align: center;
    font-size: 22px;
    margin: 0px;
}

.reseauxLinks {
    opacity: 0;
    height: 220px;
    font-weight: 300;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.reseauxLinks p {
    margin: 0px;
}

.githubLinkReseaux,
.skypeLink,
.linkedinLink {
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
    align-items: center;
    margin: 10px;
    color: white;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    width: 35%;
    transition: transform 0.3s ease;
}

.linkedinLink {
    background-color: #0084b1;
}

.linkedinLink:hover {
    color: white;
    transform: scale(1.01);
}

.linkedinImg {
    width: 40px;
}

.skypeLink {
    background: #00aff0;
}

.skypeLink:hover {
    color: white;
    transform: scale(1.01);
}

.skypeImg {
    width: 40px;
}

.githubLinkReseaux {
    background: #1b1f23;
    height: 130px;
}

.githubLinkReseaux:hover {
    color: white;
    transform: scale(1.01);
}

.githubImgReseaux {
    width: 55px;
}

@media screen and (max-width: 991px) {
    .reseauxLinks {
        width: 90%;
    }

    .linkedinLink,
    .skypeLink,
    .githubLinkReseaux {
        width: 40%;
    }
}

@media screen and (max-width: 635px) {
    .reseauxP {
        text-align: left;
        font-size: 18px;
        margin-bottom: 15px;
    }

    .linkedinLink,
    .skypeLink,
    .githubLinkReseaux {
        margin: 5px;
        width: 90%;
        font-size: 20px;
        padding: 0px;
    }

    .skypeImg,
    .linkedinImg,
    .githubImgReseaux {
        width: 35px;
        margin-right: 15px;
    }

    .reseauxLinks {
        width: 100%;
        height: fit-content;
    }

    .reseauxLinks p {
        margin: 15px;
    }

    .githubLinkReseaux {
        height: inherit;
    }
}
