.services {
    border-radius: 10px;
    width: 48%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.servicesContainer {
    color: white;
    padding: 20px 0;
    width: 100%;
    margin-bottom: 10px;
    background-color: black;
    border-radius: 10px;
}

.servicesTop {
    margin: auto;
    width: 100%;
    position: relative;
    display: flex;
    overflow: auto;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.servicesTitle {
    text-align: center;
    border-top: 3px solid #aaacbe;
    width: fit-content;
    font-weight: 400;
    font-size: 20px;
    margin: auto;
    margin-bottom: 10px;
}

.servicesTop p {
    width: 68%;
    text-align: center;
    padding-right: 20px;
    font-size: 14px;
    margin: 0px;
}

.servicesImg {
    margin: 10px 0;
    float: right;
    border-radius: 10px;
    width: 40%;
}

.collapse {
    width: 100%;
    cursor: pointer;
    background-color: #aaacbe;
    color: black;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.collapse p {
    padding: 8px;
    margin: 0;
    font-size: 18px;
}

.collapseContainer {
    overflow: hidden;
    position: relative;
    transition: max-height 0.5s ease;
}

.collapseContainer.open {
    max-height: 395px;
}

.collapseContainer.close {
    max-height: 0px;
}

.collapseContent {
    color: white;
    background-color: black;
    margin: auto;
    width: 95%;
    position: relative;
    flex-direction: column;
    transition: transform 0.5s ease;
    transform: translateY(-100%);
    border-radius: 5px;
}

.collapseContent.open {
    padding: 5px 0 20px 0;
    transform: translateY(-2%);
    display: flex;
    opacity: 1;
}

.collapseContent.close {
    transform: translateY(-120%);
    opacity: 1;
}

.collapseContent h4 {
    font-weight: 400;
    padding: 0px 20px;
    margin: 10px 0;
    font-size: 18px;
}

.btnUl {
    padding: 0px 20px;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
}

.btnLi {
    font-size: 14px;
    width: fit-content;
    padding: 5px 10px;
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 20px;
    margin: 0 5px 5px 0;
}

.normalUl {
    padding: 0px 20px;
    margin: 0px 20px;
    display: flex;
    flex-direction: column;
}

.normalLi {
    font-size: 14px;
    margin: 0;
    font-weight: 300;
    color: white;
}

.styleCollapseContent {
    margin: auto;
    margin-top: 20px;
    height: 3px;
    width: 75%;
    border-radius: 2px;
    background-color: #aaacbe;
}

.collapseContent p {
    font-weight: 300;
    font-size: 14px;
    text-align: center;
    padding: 0px 20px;
}

.linksCollapse {
    justify-content: space-around;
    display: flex;
}

.linkCollapse {
    border-bottom: 3px solid #aaacbe;
    transition: border-bottom 0.5s ease, color 0.5s ease;
}

.linkCollapse:hover {
    color: #aaacbe;
    border-bottom: 3px solid black;
}

.vectorDown {
    font-size: 40px;
    transition: transform 0.5s ease;
}

.vectorDown.rotate {
    transform: rotate(180deg);
}

@media screen and (max-width: 991px) {
    .services {
        width: 100%;
        margin-bottom: 20px;
        padding-bottom: 0;
    }

    .collapse p {
        font-size: 22px;
    }

    .collapseContainer {
        margin-bottom: 20px;
    }

    .collapseContainer.open {
        max-height: 395px;
    }

    .servicesTitle {
        font-size: 24px;
    }

    .servicesTop p {
        width: 80%;
        font-size: 18px;
    }
    .servicesImg {
        width: 30%;
    }

    .collapseContent h4 {
        font-size: 20px;
    }
}

@media screen and (max-width: 635px) {
    .servicesContainer {
        border-radius: 5px;
    }

    .servicesTitle {
        font-size: 18px;
    }

    .servicesTop p {
        padding-left: 5px;
        font-size: 12px;
        margin: 0px;
    }

    .collapse p {
        padding: 5px 10px;
        font-size: 16px;
    }

    .collapseContainer.open {
        max-height: 465px;
    }

    .collapseContent p {
        font-size: 12px;
        padding: 0 10px;
    }

    .collapseContent h4 {
        padding: 0px 10px;
        font-size: 16px;
    }

    .btnUl {
        padding: 0 10px;
    }

    .btnLi {
        font-size: 13px;
    }

    .normalUl {
        margin: 0px 10px;
    }

    .vectorDown {
        font-size: 40px;
    }
}
